header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px ;
    background: aqua;
}
header h1 {
    color:#AE2d0a;
}
.header_botton {
    border: none;
    background: transparent;
}
.header_botton a {
    text-decoration: none;
    color: #555;
    padding: 10px 10px;
    border-radius: 8px;
    transition: .3s;
}
.header_botton{
    height: 30px;
    width: 60px;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 50px;
    font-size: 20px
}
header form{
    margin-left: 20px;
}
.barra_lateral{
    width: 25%;
    background-color: aqua;
}
body {
    display: flex;

}
label {
    font-size: 20px;
}   
form i{
font-size: 15px;
}
button a i{
    margin-left: 29px;
}
.icono_barra{
    height: 30px;
    width: 60px;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    font-size: 20px;
    align-items: end;
}

.titulo_barraLateral{
    
}