header h1 {
    color: #AE2D0A;

}   

header {
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    
    gap: 60px;
    margin-top: 50px;

}

main span {
    color: #9c7978;
}

.registro_completo {
    border-top: 6px solid #AE2D0A;
    width: 380px;
    padding: 35px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.nombre-contraseña {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}



.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: bold;
    margin-bottom: 9px;
}

.campo input {
    width: 100%;
    padding: 12px;
    border: 1px solid #b97f7f;
}

.t-contrasena {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.t-contrasena a {
    text-decoration: none;
    color: #f16944;
    font-size: 15px;
}

.recordar {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}

.btn-iniciar {
    flex: 1;
    padding: 10px;
    border: 1px solid #eb5026;
    border-radius: 5px;
    background-color: white;
    color: #d04018;
    font-weight: bold;

}
.btn-iniciar:hover {
    color: rgb(0, 0, 0);
    background-color: #d94921;
}
button:hover {
    color: rgb(0, 0, 0);
    background-color: #d94921;
}


.register_a {
    text-align: center;
    padding: 10px;
}

.register_a span {
    font-weight: 600;
    color: #000000;

}

.register_a a {

    text-decoration: none;
    color: #000000;
}

.imagen-login img {
    width: 550px;
    height: 650px;
    object-fit: cover;
    border-radius: 15px;
}

.mensaje {
    border-top: 6px solid #AE2D0A;
    width: 300px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    text-align: center;
}

.mensaje h2 {
    color: #A70601;
    font-size: 40px;
    margin-bottom: 40px;

}

.mensaje p {
    color: #735453;
    font-size: 25px;
    line-height: 1.8;
}
.img-inicio {
    width: 550px;
    height: 650px;
    
    border-radius: 15px;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 650px;
}

.imagen-portada {
    width: 100%;
    height: 650px;
    object-fit: contain;
    display: block;
    border-radius: 15px;
}
.campo-password {
    position: relative;
    width: 100%;
}
.campo-password input {
    padding-right:45px ;
}
.campo-password button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}
.register {
    color: black;
}
