<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro de usuario</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <header>
        <h1>Libroteca</h1>
        <p>TU RINCON DE LECTURA</p>
    </header>
    <main>
        <section class="registro_completo">
            <h2>Bienvenidos de nuevo</h2>
            <span>Selecciona tu perfil y accede a tu coleccion personal</span>
            <section class="tipo-de-usuario">
                <h2>Tipo de usuario</h2>
                <select name="tipo_usuario" id="tdu">
                    <option value="ALUMNO">ALUMNO</option>
                    <option value="PROFESOR">PROFESOR</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </section>
            <section class="nombre-contraseña">
                <div>
                    <label for="nombre">Usuario o Correo electrónico</label>
                    <input type="text" id="nombre" name="nombre">

                </div>
                <div>
                    <label for="nombre">Contraseña </label> <a href="">¿Olvidaste tu contraseña?</a>
                    <input type="text" id="nombre" name="nombre">
                </div>
                <input type="checkbox" name="" id="">
            </section>
        </section>
        <button type="button">Iniciar sesion -></button>
    </main>
    <hr>
    <footer>
        <span>¿No tienes cuenta?</span> <a href="">Registrate ahora</a>
    </footer>
</body>

</html>