<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro de usuario</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <header>
        <h1>Libroteca</h1>
        <p>TU RINCON DE LECTURA</p>
    </header>
    <main>
        <form action="/login" method="post" class="registro_completo">
            <h2>Bienvenidos de nuevo</h2>
            <span>Selecciona tu perfil y accede a tu coleccion personal</span>
            <div class="tipo-de-usuario">
                <label for="tipo_usuario">Tipo de usuario</label>
                <div class="tipo_usuario">
                    <button type="submit">ALUMNO</button>
                    <button type="submit">PROFESOR</button>
                    <Button type="submit">ADMIN</Button>
                </div>
            </div>
            <div class="nombre-contraseña">
                <div class="campo">
                    <label for="usuario">Usuario o Correo electrónico</label>
                    <input type="text" id="usuario" name="usuario" placeholder="Nomnbre de usuario">

                </div>
                <div class="campo">
                    <div class="t-contrasena">
                        <label for="password">Contraseña </label>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                    <input type="password" name="password" id="password" placeholder="************">
                </div>
                <div class="recordar">
                    <input type="checkbox" id="recordar" name="recordar">
                    <label for="recordar">Recordar mi sesion</label>
                </div>
                <button class="btn-iniciar" type="button">Iniciar sesion -></button>
            </div>
        </form>
        <div class="img-inicio">
             <img src="/static/img/libro_portada.jpg" alt="Biblioteca">
        </div>
        <div class="mensaje">
            <h2>Descubre tu libro favorito</h2>
            <p>Miles de libros te esperan para descubrir, aprender y descubrir</p>
        </div>
    </main>
    <hr>
    <footer>
        <span>¿No tienes cuenta?</span> <a href="">Registrate ahora</a>
    </footer>
</body>
<script src="login.js"></script>

</html>