<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/css/registro.css">
</head>

<body>
    <header>
        <h1>Registrate</h1>
    </header>
    <main>
        <form action="" class="registro-completo">
            <div class="registro-usuario">
                <form action="">
                    <span>Bienvenidos a registrarse</span>
                    <div class="campo">
                        <label for="nombre">Nombre</label>
                        <input type="" id="nombre" name="nombre">

                    </div>  
                    <div class="campo">
                        <label for="">Apellido paterno</label>
                        <input type="" id="apellido" name="apellido">
                    </div>

                    <div class="password">
                        <label for="">Contraseña</label>
                        <input type="text" name="contraseña" id="contraseña">
                    </div>
                    <div class="confirmar_password">
                        <label for="">Confirmar contraseña</label>
                        <input type="text" name="contraseña" id="contraseña">
                    </div>
                    <div class="campo">
                        <label for="">Gmail</label>
                        <input type="text" id="gmail" name="gmail">
                    </div>
                    <div class="recordar">
                        <input type="checkbox" name="" id="">
                        <label for="">Recordar datos</label>
                    </div>
                    <div>
                        <button class="registrar">Registrate</button>
                    </div>
            </div>
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>