<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>libros</title>
</head>
<body>
        <div class=" barra_lateral">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita sint officiis, optio illum nihil consequuntur suscipit nesciunt nemo vero in quos! Doloribus ex expedita corporis ipsam enim animi. Distinctio, tenetur.</h1>
        </div>
        <header>
            <h1>colección</h1>
            <button><a href="">Colección</a></button>
            <button><a href="">Préstamos</a></button>
            <button><a href="">Lector <br> 3D</a></button>
            <form action="/buscar" method="get" role="search">
              <label for="busqueda">Buscar:</label>
              <input type="search" id="busqueda" name="q" placeholder="¿Qué estás buscando?" aria-label="Buscar en el sitio">
              <button type="submit">Buscar</button>
            </form>
            <button> <a href=""><i class="bi bi-upc-scan"></i></a></button>
            <button><a href=""><i class="bi bi-person-circle"></i></a></button>
        </header>
    <div class="mostrar">

    </div>
    <div class="libros">
    </div>
</body>
</html> 