<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>libros</title>
</head>
<body>
    <header>
        <h1>colección</h1>
        <button><a href="">Colección</a></button>
        <button><a href="">Préstamos</a></button>
        <button><a href="">Lector <br> 3D</a></button>
        <form action="/buscar" method="get" role="search">
          <label for="busqueda">Buscar:</label>
          <input type="search" id="busqueda" name="q" placeholder="¿Qué estás buscando?" aria-label="Buscar en el sitio">
          <button type="submit">Buscar</button>
        </form>
        <button> <a href=""><img class="icono-boton" src="../../static/img/scan-digital-barcode-qr-code-reader-icon-symbol-vector-removebg-preview.png" alt=""></a></button>
        <button><a href=""><img src="../../static/img/ece2b0f541d47e4078aef33ffd22777e.jpg"></a></button>
    </header>
    <div class="mostrar">

    </div>
    <div class="libros">
    </div>
</body>
</html> 