<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro de usuario</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <h1>Libroteca</h1>
        <h3>TU RINCON DE LECTURA</h3>
    </header>
    <main style="display: flex; justify-content:center">
        <form action="/login" method="post" class="registro_completo">
            <h2>Bienvenidos de nuevo</h2>
            {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
            <ul class="mensajes-flash">
                {% for mensaje in mensajes %}
                <li>{{ mensaje }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="nombre-contraseña">
                <div class="campo">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" id="correo" name="correo" placeholder="tu@correo.com">

                </div>
                <div class="campo">
                    <div class="t-contrasena">
                        <label for="password">Contraseña </label>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                    <input type="password" name="password" id="password" placeholder="************">
                </div>
                <div class="recordar">
                    <input type="checkbox" id="recordar" name="recordar">
                    <label for="recordar">Recordar mi sesion</label>
                </div>
                <button class="btn-iniciar" type="submit"
                    style="display: flex;justify-content: center;align-items: center; gap: 10px;">Iniciar Sesión <i
                        class="bi bi-arrow-right"></i></button>
            </div>
        </form>
        <div class="img-inicio">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/ree.jpg') }}"
                     alt="portada"
                     class="imagen-portada">
            </div>

            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/aaaa.jpg') }}"
                     alt="portada"
                     class="imagen-portada">
            </div>

            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/portada_colegio.jpg') }}"
                     alt="portada"
                     class="imagen-portada">
            </div>

        </div>

    </div>
</div>
        <div class="mensaje">
            <h2>Descubre tu libro favorito</h2>
            <p>Miles de libros te esperan para descubrir, aprender y descubrir</p>
        </div>
    </main>
    <hr>
    <footer>
        <span>¿No tienes cuenta?</span> <a href="{{ url_for('registro') }}">Registrate ahora</a>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
